@model ICollection<User>

    <h2>All Users</h2>

    @foreach(User u in Model) {
        <h4> 
            <a 
                asp-action="UserDetails"
                asp-route-id="@u.Id"
            >
                @u.Name
            </a>
        </h4>
    }
}