
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SD_115_W22SD_Code_Examples_MVC.Models.CourseSelectViewModel

<form asp-action="Details" method="get">
    <select name="Id" asp-items=@Model.SelectCourses></select>
    <button type="submit">Go</button>
</form>

@if(Model.Course != null)
{
    <h1>Details</h1>
    <div>@Model.Course.Title</div>
}

